.comment {
  margin: 1rem 0;
}

.comment:last-child {
  margin-bottom: -1rem;
}

.meta {
  display: flex;
  padding: 1rem;
  line-height: 1;
  font-weight: bold;
  border-radius: .5rem;
  background: linear-gradient(to right, var(--form-two), var(--form-one));
}

.avatar {
  margin-right: 1rem;
  padding: 2px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: .25rem;
}

.name {
  margin: .1rem 0 .3rem 0;
  font-size: 1.4rem;
  color: var(--title);
}

.date {
  color: var(--text);
}
