.comment {
  margin: 1rem 0;
}

.comment:last-child {
  margin-bottom: -1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: .5rem;
  background: linear-gradient(to right, var(--form-two), var(--form-one));
}

.meta {
  display: flex;
  line-height: 1;
  font-weight: bold;
}

.avatar {
  margin-right: 1rem;
  padding: 2px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: .25rem;
}

.name {
  margin: .1rem 0 .3rem 0;
  font-size: 1.4rem;
  color: var(--title);
}

.date {
  color: var(--text);
}

.reply-btn {
  display: block;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  background: cornflowerblue;
}

.reply-btn:hover {
  background: lightskyblue;
}

@media (max-width: 500px) {
  .reply-btn-text {
    display: none;
  }
}
