@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.618;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  transition: color .3s;
}

svg {
  height: 1rem;
  vertical-align: middle;
}

button {
  outline: none;
}

@media (max-width: 800px) {
  .medium-screen {
    display: none;
  }
  .big-screen {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 1250px) {
  .small-screen {
    display: none;
  }
  .big-screen {
    display: none;
  }
}

@media (min-width: 1251px) {
  .small-screen {
    display: none;
  }
  .medium-screen {
    display: none;
  }
}

/* ======= BODY ======= */

body {
  padding: 0;
  margin: 0;
  background: linear-gradient(45deg, dodgerblue, cornflowerblue);
}

.main-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1800px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

/* ======= GENERAL NAV ======= */

nav {
  display: flex;
  padding: 20px 5%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: fit-content;
  margin: 0;
  padding: 0;
  cursor: default;
}

nav li {
  display: inline;
  margin: 0 .5rem;
}

@media (max-width: 800px) {
  nav li {
    margin: 0 .15rem;
  }
}

/* ======= TOP NAV ======= */

header {
  position: fixed;
  top: 0;
  width: 90%;
  max-width: 1800px;
}

header nav {
  height: 80px;
  background-color: #181818;
  transition: .3s;
}

header ul {
  margin-right: -.5rem;
}

@media (max-width: 800px) {
  header ul {
    margin-right: -.15rem;
  }
}

.logo {
  height: 100%;
  margin-right: 5%;
}

.logo img {
  height: 100%;
}

.logo span {
  color: aliceblue;
  margin-left: .3rem;
  font-size: 0;
  transition: font-size .3s;
  cursor: default;
}

.logo:hover span {
  font-size: inherit;
  transition: font-size .3s;
}

.categories a {
  display: inline-block;
  color: aliceblue;
  font-size: 1rem;
  padding: .75rem 0;
}

@media (max-width: 800px) {
  .categories a {
    font-size: 1.5rem;
    transition: transform .3s;
  }
  .categories a:hover {
    transform: scale(1.5);
    transition: transform .3s;
  }
  svg {
    height: 1.5rem;
  }
}

.categories a:hover {
  color: lightskyblue;
}

/* ======= ARTICLE LIST ======= */

section {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: white;
}

.article-list {
  width: calc(85% - 200px);
  margin: 5% 0 5% 5%;
}

.sidebar {
  width: 200px;
  margin: 5%;
  min-height: 100px;
  background-color: bisque;
  border-radius: .4rem;
}

@media (max-width: 1000px) {
  .article-list {
    width: 100%;
    margin: 5%;
  }
  .sidebar {
    display: none;
  }
}

article {
  margin-bottom: 5%;
}

article img {
  width: 100%;
  border-radius: .4rem;
}

article h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 30px;
  color: #333;
}

article h2 a:hover {
  color: dodgerblue;
}

.article-meta {
  font-size: 17px;
  color: #333;
}

.article-meta a:hover {
  color: dodgerblue;
}

article p {
  margin-top: 1rem;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: #444;
}

@media (min-width: 801px) {
  article p {
    text-align: justify;
  }
}

@media (max-width: 800px) {
  header {
    width: 100%;
  }
  .main-container {
    width: 100%;
  }
}

/* ======= PAGINATION ======= */

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: aliceblue;
  cursor: default;
}

.pagination a {
  padding: .5rem 1rem;
  background-color: cornflowerblue;
  border-radius: .4rem;
  transition: background-color .3s;
}

.pagination a:hover {
  background-color: dodgerblue;
  transition: background-color .3s;
}

@media (max-width: 400px) {
  .pagination.big-screen {
    display: none;
  }
}

@media (min-width: 401px) {
  .pagination.small-screen {
    display: none;
  }
}

/* ======= BOTTOM NAV ======= */

footer nav ul {
  margin-left: -.5rem;
}

@media (max-width: 800px) {
  footer nav ul {
    margin-left: -.15rem;
  }
}

footer nav {
  min-height: 60px;
  background-color: #282828;
}

footer nav a {
  color: #ccc;
  font-size: 1rem;
  white-space: nowrap;
  padding: .75rem 0;
}

footer nav a:hover {
  color: #fff;
}

.footer-info {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #181818;
  padding: 0 5%;
  align-items: center;
  font-size: 20px;
  color: #777;
}

.footer-info div {
  line-height: 1.3;
  padding: 15px 0;
}

.footer-info a:hover {
  color: #ccc;
}

.footer-info ul {
  min-width: fit-content;
  height: 35px;
  margin: 0 -.25rem 0 0;
  padding: 0;
}

.footer-info li {
  display: inline;
  margin: 0 .25rem;
}

@media (max-width: 800px) {
  .footer-info li {
    margin: 0 .15rem;
  }
  .footer-info ul {
    margin: 0 -.15rem 0 0;
  }
}

.footer-info img {
  height: 100%;
  filter: brightness(.75);
  transition: filter .3s;
}

.footer-info img:hover {
  filter: brightness(1);
  transition: filter .3s;
}

#github {
  filter: invert(1) brightness(.75);
}

#github:hover {
  filter: invert(1) brightness(1);
}

/* ======= BACK TO TOP BUTTON ======= */

#back-to-top {
  position: fixed;
  right: -3.5%;
  bottom: 70px;
  width: 3.5%;
  height: 40px;
  border: none;
  border-radius: .4rem 0 0 .4rem;
  background-color: #333;
  font-size: 1.25rem;
  transition: right .3s;
}

#back-to-top:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  #back-to-top {
    display: none;
  }
}

/* ======= COOKIE NOTICE ======= */

#cookie-notice {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: 400px;
  background: linear-gradient(45deg, #222, #444);
  border-radius: .4rem;
  padding: 1rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

#cookie-notice h2 {
  margin: 0;
  color: white;
}

#cookie-notice p {
  color: aliceblue;
}

#cookie-notice button {
  float: right;
  border: none;
  border-radius: .4rem;
  background-color: white;
  color: #282828;
  font-size: 1rem;
  padding: .25rem .75rem;
  transition: .3s;
  transition-property: background-color, color;
}

#cookie-notice button:hover {
  cursor: pointer;
  color: white;
  background-color: cornflowerblue;
  transition: .3s;
  transition-property: background-color, color;
}

@media (max-width: 800px) {
  #cookie-notice {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
  #cookie-notice button {
    float: none;
  }
}
