@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');

:root {
  --bg-color: white;
  --sidebar-color: bisque;
  --title-color: #333;
  --excerpt-color: #444;
  --hover-color: dodgerblue;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.618;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
}

a {
  color: inherit;
  line-height: inherit;
  text-decoration: none;
  transition: color .3s;
}

a:hover {
  transition: color .3s;
}

button {
  outline: none;
}

/* ======= BODY ======= */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, dodgerblue, cornflowerblue);
}

.main-container {
  margin: 0 auto;
  width: 90%;
  max-width: 1800px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
}

/* ======= GENERAL NAV ======= */

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
}

nav ul {
  margin: 0;
  padding: 0;
  width: fit-content;
  cursor: default;
}

nav li {
  display: inline;
  margin: 0 .5rem;
}

@media (max-width: 800px) {
  nav li {
    margin: 0 .15rem;
  }
}

/* ======= TOP NAV ======= */

header {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 90%;
  max-width: 1800px;
}

header nav {
  height: 80px;
  background-color: #181818;
  transition: .3s;
}

header ul {
  margin-right: -.5rem;
}

#logo {
  height: 100%;
  margin-right: 5%;
}

#logo img {
  height: 100%;
}

#logo span {
  margin-left: .3rem;
  font-size: 0;
  color: aliceblue;
  transition: font-size .3s;
  cursor: default;
}

#logo:hover span {
  font-size: inherit;
  transition: font-size .3s;
}

.categories a {
  display: inline-block;
  padding: .75rem 0;
  font-size: 1rem;
  color: aliceblue;
}

.categories a:hover {
  color: lightskyblue;
}

.search {
  height: 1rem;
}

.small-screen {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.small-screen li {
  display: inline-block;
  margin: 0 .5rem;
  line-height: 1;
  font-size: 28px;
}

.small-screen .search {
  height: 25px;
}

.small-screen a {
  padding: 0;
}

#dropdown {
  height: 29px;
  cursor: pointer;
}

#bar1,
#bar2,
#bar3 {
  width: 30px;
  height: 3px;
  margin: 5px 0;
  border-radius: 1.5px;
  background-color: cornflowerblue;
  transition: 0.3s;
}

.change #bar1 {
  transform: rotate(-45deg) translate(0, +11px);
  margin-left: -10px;
  transition: .3s;
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: rotate(+45deg) translate(0, -11px);
  margin-left: -10px;
  transition: .3s;
}

/* ======= ARTICLE LIST ======= */

section {
  padding-top: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--bg-color);
  transition: background-color .3s;
}

.article-list {
  width: calc(85% - 200px);
  margin: 5% 0 5% 5%;
  transition: color .3s;
}

.sidebar {
  width: 200px;
  margin: 5%;
  min-height: 100px;
  background-color: var(--sidebar-color);
  border-radius: .4rem;
  transition: background-color .3s;
}

@media (max-width: 1000px) {
  .article-list {
    width: 100%;
    margin: 5%;
  }
  .sidebar {
    display: none;
  }
}

article {
  margin-bottom: 5%;
}

article img {
  width: 100%;
  border-radius: .4rem;
}

article h2 {
  margin-top: 1rem;
  margin-bottom: .5rem;
  font-size: 30px;
  color: var(--title-color);
}

article h2 a:hover {
  color: var(--hover-color);
}

.article-meta {
  line-height: 1.4;
  font-size: 17px;
  color: var(--title-color);
}

.article-meta a:hover {
  color: var(--hover-color);
}

article p {
  margin-top: 1rem;
  font-family: 'Merriweather', serif;
  font-size: 16px;
  color: var(--excerpt-color);
}

@media (min-width: 801px) {
  article p {
    text-align: justify;
  }
}

@media (max-width: 800px) {
  header {
    width: 100%;
  }
  .main-container {
    width: 100%;
  }
}

@media (max-width: 800px) {
  .medium-screen {
    display: none;
  }
  .big-screen {
    display: none;
  }
}

@media (min-width: 801px) and (max-width: 1250px) {
  .small-screen {
    display: none;
  }
  .big-screen {
    display: none;
  }
}

@media (min-width: 1251px) {
  .small-screen {
    display: none;
  }
  .medium-screen {
    display: none;
  }
}

/* ======= PAGINATION ======= */

.pagination {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  cursor: default;
}

.pagination a {
  padding: .5rem 1rem;
  background-color: dodgerblue;
  border-radius: .4rem;
  color: white;
  transition: background-color .3s;
}

.pagination a:hover {
  background-color: royalblue;
  transition: background-color .3s;
}

@media (max-width: 400px) {
  .pagination.big-screen {
    display: none;
  }
}

@media (min-width: 401px) {
  .pagination.small-screen {
    display: none;
  }
}

/* ======= BOTTOM NAV ======= */

footer nav ul {
  margin-left: -.5rem;
}

@media (max-width: 800px) {
  footer nav ul {
    margin-left: -.15rem;
  }
}

footer nav {
  min-height: 60px;
  background-color: #282828;
}

footer nav a {
  color: #ccc;
  font-size: 1rem;
  white-space: nowrap;
  padding: .75rem 0;
}

footer nav a:hover {
  color: #fff;
}

.footer-info {
  min-height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #181818;
  padding: 0 5%;
  align-items: center;
  font-size: 20px;
  color: #777;
}

.footer-info div {
  line-height: 1.3;
  padding: 15px 0;
}

.footer-info a:hover {
  color: #ccc;
}

.footer-info ul {
  min-width: fit-content;
  height: 35px;
  margin: 0 -.25rem 0 0;
  padding: 0;
}

.footer-info li {
  display: inline;
  margin: 0 .25rem;
}

@media (max-width: 800px) {
  .footer-info ul {
    margin: 0 -.15rem 0 0;
  }
  .footer-info li {
    margin: 0 .15rem;
  }
}

.footer-info img {
  height: 100%;
  filter: brightness(.75);
  transition: filter .3s;
}

.footer-info img:hover {
  filter: brightness(1);
  transition: filter .3s;
}

#github {
  filter: invert(1) brightness(.75);
}

#github:hover {
  filter: invert(1) brightness(1);
}

/* ======= BUTTONS ======= */

#back-to-top {
  position: fixed;
  right: -3.5%;
  bottom: 70px;
  width: 3.5%;
  height: 40px;
  border: none;
  border-radius: .4rem 0 0 .4rem;
  background-color: #333;
  font-size: 1.25rem;
  transition: right .3s;
}

#back-to-top:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  #back-to-top {
    display: none;
  }
}

#theme {
  position: fixed;
  right: 0;
  bottom: 10px;
  width: 3.5%;
  height: 40px;
  border: none;
  border-radius: .4rem 0 0 .4rem;
  background-color: #333;
  font-size: 1.25rem;
  transition: right .3s;
}

#theme:hover {
  cursor: pointer;
}

@media (max-width: 800px) {
  #theme {
    display: none;
  }
}

#theme-top:hover {
  cursor: pointer;
}

/* ======= COOKIE NOTICE ======= */

#cookie-notice {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: 400px;
  background: linear-gradient(45deg, indigo, dodgerblue);
  border-radius: .4rem;
  padding: 1rem;
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
}

#cookie-notice h2 {
  margin: 0;
  color: white;
}

#cookie-notice p {
  color: aliceblue;
}

#cookie-notice button {
  float: right;
  border: none;
  border-radius: .4rem;
  background-color: white;
  color: #282828;
  font-size: 1rem;
  padding: .25rem .75rem;
  transition: .3s;
  transition-property: background-color, color;
}

#cookie-notice button:hover {
  cursor: pointer;
  color: white;
  background-color: dodgerblue;
  transition: .3s;
  transition-property: background-color, color;
}

@media (max-width: 800px) {
  #cookie-notice {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
  #cookie-notice button {
    float: none;
  }
}

/* ======= DROPDOWN MENU ======= */

#dropdown-menu {
  position: fixed;
  top: calc(80px - 15rem);
  left: 0;
  width: 100%;
  transition: top .3s;
  z-index: 1;
  box-shadow: none;
}

@media (min-width: 801px) {
  #dropdown-menu {
    display: none;
  }
}

#dropdown-menu ul {
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

#dropdown-menu li {
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
}

#dropdown-menu a {
  color: aliceblue;
  padding: .5rem;
  transition: .3s;
}

#dropdown-menu a:hover {
  color: bisque;
  transition: .3s;
}

#dropdown-menu li:nth-child(2n+1) {
  background-color: rgb(80, 120, 220);
}

#dropdown-menu li:nth-child(2n) {
  background-color: royalblue;
}
