.code-block {
  counter-reset: code-block;
  margin: 1rem 0;
  padding: 1rem 0;
  background: #1c1c1c;
  border-radius: .5rem;
}

.code-block code {
  display: block;
  padding: 0 !important;
  border-radius: 0 !important;
  line-height: 1.4;
  color: white !important;
  background: transparent !important;
  min-width: fit-content;
}

.code-block div {
  padding: 0 1rem;
}

.dollars div::before {
  content: '$ ';
  color: #ccc;
}

.cropped {
  max-height: 400px;
  overflow-y: auto;
}

.numbered div {
  position: relative;
}

.numbered div::before {
  counter-increment: code-block;
  content: counter(code-block);
  display: inline-block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0 1rem;
  border-right: 1px solid #888;
  color: #ccc;
  text-align: right;
}

.digits-1 div { padding-left: calc(3.7rem + 1px); }
.digits-2 div { padding-left: calc(4.2rem + 1px); }

.digits-1 div::before { width: 0.7rem; }
.digits-2 div::before { width: 1.2rem; }

.macos-window {
  background: #111;
  border-radius: .5rem;
}

.macos-window .code-block {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.macos-topbar {
  position: relative;
  padding: .7rem 0;
  color: #eee;
  line-height: 1;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.macos-menu {
  display: flex;
  position: absolute;
}

.macos-menu div {
  margin: 0 3px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.macos-menu div:first-child {
  margin-left: 1rem;
}

.macos-circle-1 { background: #ff605c; }
.macos-circle-2 { background: #ffbd44; }
.macos-circle-3 { background: #00ca4e; }

.code-wrapper {
  position: relative;
}

.copy-btn {
  display: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
  padding: 5px 7px 7px 7px;
  border-radius: .25rem;
  color: #bbb;
  background: #444;
  line-height: 1;
  z-index: 1;
}

.copy-btn.small {
  padding: 2px 3px 3px 3px;
}

.code-wrapper:hover .copy-btn {
  display: block;
}
