.page-container {
  width: min(90%, 1200px);
  margin: 0 auto;
  padding-top: 80px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  background: var(--bg);
}

@media (max-width: 800px) {
  .page-container {
    width: 100%;
  }
}

.main-area {
  display: flex;
  gap: 5.55%;
  padding: 5%;
}

.content {
  flex: 1 1 0;
  min-width: 0;
}

.sidebar {
  flex: 0 0 200px;
  border-radius: .5rem;
  background: var(--sidebar);
}

@media (max-width: 1000px) {
  .sidebar {
    display: none;
  }
}
