.preview img {
  display: block;
  border-radius: .5rem;
}

.title {
  margin: 1rem 0 .5rem 0;
  font-size: 1.8rem;
  color: var(--title);
}

a:hover .title {
  color: var(--link);
}

.metadata {
  line-height: 1.5;
  font-size: 1.1rem;
  color: var(--title);
}

.metadata a:hover {
  color: var(--link);
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: .5rem;
  margin: 1rem 0;
}

.tags li {
  display: block;
}

.tags a {
  display: block;
  padding: .25rem .5rem;
  border-radius: .25rem;
  font-size: .8rem;
  font-weight: bold;
  color: white;
  background: royalblue;
}

.tags a:hover {
  background: cornflowerblue;
}
