.explicit p,
.explicit h2,
.explicit h3,
.explicit h4,
.explicit h5,
.explicit h6 {
  font-family: 'Merriweather', serif;
  color: var(--text);
}

@media (min-width: 801px) {
  .explicit p {
    text-align: justify;
  }
}

.explicit h2 { margin: 2.0rem 0 1rem 0; font-size: 1.7rem; }
.explicit h3 { margin: 1.9rem 0 1rem 0; font-size: 1.6rem; }
.explicit h4 { margin: 1.8rem 0 1rem 0; font-size: 1.5rem; }
.explicit h5 { margin: 1.7rem 0 1rem 0; font-size: 1.4rem; }
.explicit h6 { margin: 1.6rem 0 1rem 0; font-size: 1.3rem; }

.explicit .img-container {
  margin: 1rem auto;
  max-width: 100%;
}

.explicit .img-container img {
  border-radius: .5rem;
}
