.explicit p,
.explicit h2,
.explicit h3,
.explicit h4,
.explicit h5,
.explicit h6 {
  font-family: 'Merriweather', serif;
  color: var(--text);
}

@media (min-width: 801px) {
  .explicit p {
    text-align: justify;
  }
}

.explicit h2 { margin: 2.0rem 0 1rem 0; font-size: 1.7rem; }
.explicit h3 { margin: 1.9rem 0 1rem 0; font-size: 1.6rem; }
.explicit h4 { margin: 1.8rem 0 1rem 0; font-size: 1.5rem; }
.explicit h5 { margin: 1.7rem 0 1rem 0; font-size: 1.4rem; }
.explicit h6 { margin: 1.6rem 0 1rem 0; font-size: 1.3rem; }

.explicit .img-wrapper {
  margin: 1.3rem auto;
  max-width: 100%;
}

.explicit .img-wrapper img {
  border-radius: .5rem;
  display: block;
}

.explicit video {
  display: block;
  margin: 1.3rem auto;
  max-width: 100%;
  border-radius: .5rem;
}

.explicit .math-wrapper {
  margin: 1.3rem auto;
  color: var(--text);
  overflow-x: scroll;
}

.explicit .sketch-wrapper {
  margin: 1.3rem auto;
  width: fit-content;
  max-width: 100%;
  overflow-x: scroll;
  border-radius: .5rem;
}

.explicit canvas {
  display: block;
}

.explicit code {
  font-family: 'Source Code Pro', monospace;
  font-size: 85%;
  padding: .2rem .4rem;
  border-radius: .25rem;
  background: var(--code);
}

.explicit kbd {
  font-family: 'Inter', sans-serif;
  font-size: 85%;
  padding: calc(.2rem - 1px) calc(.4rem - 1px);
  border-radius: .25rem;
  background: var(--code);
  border: 1px solid var(--text);
}

.explicit .twemoji {
  margin: 0 .1em;
  width: 1em;
  height: 1em;
  vertical-align: -0.1em;
}

.explicit a {
  color: var(--link);
}

.explicit a:hover {
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 1px;
}

.explicit .strk {
  text-decoration: line-through;
}

.explicit .high {
  color: limegreen;
}
