.title {
  margin: 0;
  font-size: 1.9rem;
  color: var(--title);
}

.content {
  margin: 2rem 0 -1rem 0;
}

.content p {
  font-family: 'Merriweather', serif;
  color: var(--text);
}

@media (min-width: 801px) {
  .content p {
    text-align: justify;
  }
}
