.cookie-notice {
  position: fixed;
  left: 2rem;
  bottom: 2rem;
  width: 400px;
  padding: 1rem;
  border-radius: .5rem;
  background: linear-gradient(45deg, indigo, dodgerblue);
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .19);
  z-index: 1000;
}

.cookie-notice h2 {
  margin: 0;
  color: white;
}

.cookie-notice p {
  color: aliceblue;
}

.cookie-notice button {
  float: right;
  padding: .75rem 1rem;
  border-radius: .5rem;
  color: #383838;
  background: whitesmoke;
}

.cookie-notice button:hover {
  background: khaki;
}

@media (max-width: 800px) {
  .cookie-notice {
    left: 0;
    bottom: 0;
    width: 100%;
    border-radius: 0;
    text-align: center;
  }
  .cookie-notice button {
    float: none;
  }
}
