.categories-large {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.categories-large li {
  display: inline;
  margin: 0 .2rem;
}

.categories-large a {
  padding: .5rem .4rem;
  color: aliceblue;
  font-weight: bold;
}

.categories-large a:hover {
  color: lightskyblue;
}

@media (max-width: 800px) {
  .categories-large {
    display: none;
  }
}

@media (max-width: 1250px) {
  .big-screen {
    display: none;
  }
}

@media (min-width: 1251px) {
  .med-screen {
    display: none;
  }
}

.categories-small {
  display: block;
  position: fixed;
  left: 0;
  z-index: 100;

  width: 100%;
  margin: 0;
  padding: 0;
  transition: top .3s;
}

@media (min-width: 801px) {
  .categories-small {
    display: none;
  }
}

.categories-small li {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: .25rem 0;
}

.categories-small a {
  color: white;
  padding: .75rem;
  line-height: 1.2;
  font-weight: bold;
}

.categories-small a:hover {
  color: gold;
}

.categories-small li:nth-child(2n+1) {
  background: #1c39bb;
}

.categories-small li:nth-child(2n) {
  background: #2a52be;
}

.results {
  display: block;
  position: fixed;
  left: 5%;
  z-index: 100;

  width: 90%;
  margin: 0;
  padding: 0;
  transition: top .3s;
}

@media (max-width: 800px) {
  .results {
    width: 100%;
    left: 0;
  }
}

.results li {
  display: flex;
  margin: 0;
  padding: .25rem calc(5% - .75rem);
}

.results a {
  color: white;
  padding: .75rem;
  line-height: 1.2;
  font-weight: bold;
}

.results a:hover {
  color: gold;
}

.results span {
  color: orangered;
  text-decoration: underline;
  text-underline-offset: 1px;
  text-decoration-thickness: 2px;
}

.results li:nth-child(2n+1) {
  background: #006400;
}

.results li:nth-child(2n) {
  background: #228b22;
}
