.header-container {
  position: fixed;
  top: 0;
  left: calc(calc(100% - min(90%, 1200px)) / 2);
  z-index: 200;
  width: min(90%, 1200px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  height: 80px;
  background: #181818;
  transition: .3s;
  transition-property: height, padding;
}

.header.scrolled {
  height: 60px;
  padding: 15px 5%;
}

.header.disabled {
  pointer-events: none;
}

@media (max-width: 800px) {
  .header-container {
    width: 100%;
    left: 0;
  }
}

.logo-container {
  height: 100%;
  max-height: 40px;
}

.logo-container img {
  height: 100%;
}

.logo-container span {
  margin-left: .4rem;
  color: white;
  font-size: 0;
  font-weight: bold;
  transition: font-size .3s;
  cursor: default;
}

.logo-container:hover span {
  font-size: inherit;
}

.nav-container {
  width: fit-content;
}

.navbar {
  display: flex;
  align-items: center;
  width: fit-content;
  height: 30px;
  transition: 1s;
  transition-property: height, opacity, visibility;
}

@media (max-width: 800px) {
  .navbar {
    width: calc(90vw - 200px);
    justify-content: flex-end;
  }
}

.navbar.searching {
  height: 0;
  opacity: 0;
  visibility: hidden;
}
