.donation-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: .5rem;
  background: radial-gradient(at bottom right, royalblue 0%, cornflowerblue 100%);
}

.donation-text {
  margin: 0;
  font-size: 1rem;
  line-height: 1.4;
  color: white;
}

.donation-link {
  display: block;
  background: oldlace;
  padding: .4rem .5rem .1rem .5rem;
  border-radius: .5rem;
}

.donation-link img {
  height: 25px;
}

@media (max-width: 720px) {
  .donation-form {
    flex-direction: column;
    align-items: center;
  }
  .donation-text {
    text-align: center;
  }
  .donation-link img {
    height: 20px;
  }
}
