.buttons {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem 0;
}

.buttons button {
  flex: 1 1 0;
  display: block;
  padding: 1rem;
  border-radius: .5rem;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

@media (max-width: 550px) {
  .buttons {
    flex-direction: column;
  }
}

.buttons button:first-child { background: royalblue; }
.buttons button:last-child { background: crimson; }

.buttons button:first-child:hover { background: cornflowerblue; }
.buttons button:last-child:hover { background: tomato; }

.comment-form {
  margin-top: 3rem;
}

.title {
  margin-top: calc(1rem - 80px);
  padding-top: 80px;
  font-size: 1.8rem;
  color: var(--title);
}

.bottom {
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}

.bottom > * {
  flex: 1 1 0;
  display: block;
  padding: 1rem;
  border-radius: .5rem;
  color: var(--text);
}

@media (max-width: 500px) {
  .bottom {
    flex-direction: column;
  }
}

.name {
  background: var(--form-one);
  font-family: 'Source Code Pro', monospace;
}

.name::placeholder {
  opacity: .75;
  color: var(--text);
}

.send {
  font-weight: bold;
  background: var(--form-two);
}

.send:hover {
  background: var(--form-one);
}
