.footer-nav {
  height: 60px;
  padding: 0 5%;
  background: #222;
}

.footer-nav ul {
  display: flex;
  align-items: stretch;
  gap: .8rem;
  height: 100%;
  overflow-x: auto;
}

@media (max-width: 470px) {
  .footer-nav ul {
    mask-image: linear-gradient(to right, transparent, #222 20px, #222 90%, transparent);
  }
}

.footer-nav ul::-webkit-scrollbar {
  display: none;
}

.footer-nav li {
  display: flex;
  align-items: center;
}

.footer-nav a {
  padding: .75rem 0;
  white-space: nowrap;
  font-weight: bold;
  color: gainsboro;
}

.footer-nav a:hover {
  color: lightskyblue;
}

.footer-info {
  display: flex;
  justify-content: space-between;
  padding: calc(calc(60px - calc(1.3rem * 1.2)) / 2) 5%;
  font-size: 1.3rem;
  line-height: 1.2;
  background: #181818;
}

@media (max-width: 450px) {
  .footer-info {
    flex-direction: column;
    gap: calc(calc(60px - calc(1.3rem * 1.2)) / 2);
  }
}

.copyright {
  text-align: center;
  font-weight: bold;
  color: gray;
}

.copyright a {
  transition: color .3s;
}

.copyright a:hover {
  color: lightgray;
}

.social {
  display: flex;
  justify-content: center;
  gap: .6rem;
}

.social li {
  display: block;
}

.social svg {
  transform: rotate(0);
  transition: transform .5s;
}

.social svg:hover {
  transform: rotate(1turn);
}
