.scroll-btn {
  position: fixed;
  bottom: 70px;
  transition: right .3s;
  display: block;
  width: 4%;
  height: 40px;
  font-size: 22px;
  border-radius: .5rem 0 0 .5rem;
  background: #222;
  color: lawngreen;
}

@media (max-width: 800px) {
  .scroll-btn {
    display: none;
  }
}
